<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hainu.system.dao.DeviceLogMapper">
  <resultMap id="BaseResultMap" type="com.hainu.system.entity.DeviceLog">
    <!--@mbg.generated-->
    <!--@Table testshardingjdbc.device_log-->
    <id column="device_id" jdbcType="BIGINT" property="deviceId" />
    <result column="device_name" jdbcType="VARCHAR" property="deviceName" />
    <result column="device_temp" jdbcType="INTEGER" property="deviceTemp" />
    <result column="device_humi" jdbcType="INTEGER" property="deviceHumi" />
    <result column="device_llv" jdbcType="INTEGER" property="deviceLlv" />
    <result column="device_gas" jdbcType="INTEGER" property="deviceGas" />
    <result column="device_O2" jdbcType="INTEGER" property="deviceO2" />
    <result column="device_smoke" jdbcType="INTEGER" property="deviceSmoke" />
    <result column="device_lighting" jdbcType="INTEGER" property="deviceLighting" />
    <result column="device_waterpump" jdbcType="INTEGER" property="deviceWaterpump" />
    <result column="device_fan" jdbcType="INTEGER" property="deviceFan" />
    <result column="device_infra" jdbcType="INTEGER" property="deviceInfra" />
    <result column="device_guard" jdbcType="INTEGER" property="deviceGuard" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    device_id, device_name, device_temp, device_humi, device_llv, device_gas, device_O2, 
    device_smoke, device_lighting, device_waterpump, device_fan, device_infra, device_guard, 
    create_time
  </sql>

  <select id="selectByAvg" resultType="com.hainu.system.entity.DeviceLog">
    SELECT
    device_id, device_name, AVG(device_temp) as device_temp, AVG(device_humi) as device_humi,
    AVG(device_llv) as device_llv, AVG(device_gas) as device_gas, AVG(device_O2) as device_O2,
    AVG(device_smoke) as device_smoke, AVG(device_lighting) as device_lighting, AVG(device_waterpump) as device_waterpump,
    AVG(device_fan) as device_fan, AVG(device_infra) as device_infra, AVG(device_guard) as device_guard,
    DATE_FORMAT(create_time,'%Y-%m-%d') AS create_time
    FROM device_log
    <where>
      create_time between #{minDate} and #{maxDate}
      <if test="deviceName != null">
        and device_name=#{deviceName}
      </if>
    </where>
    GROUP BY DATE_FORMAT(create_time,'%Y-%m-%d') , device_name
  </select>
</mapper>