<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hainu.system.dao.DeviceListMapper">
  <resultMap id="BaseResultMap" type="com.hainu.system.entity.DeviceList">
    <!--@mbg.generated-->
    <!--@Table testshardingjdbc.device_list-->
    <id column="topic_id" jdbcType="BIGINT" property="topicId" />
    <result column="ws_topic" jdbcType="VARCHAR" property="wsTopic" />
    <result column="ws_name" jdbcType="VARCHAR" property="wsName" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    topic_id, ws_topic, ws_name
  </sql>

  <update id="truncateData">
    truncate table device_list
  </update>
</mapper>