<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hainu.system.dao.DeviceLogMapper">
  <resultMap id="BaseResultMap" type="com.hainu.system.entity.DeviceLog">
    <!--@mbg.generated-->
    <!--@Table testshardingjdbc.device_log-->
    <id column="ws_id" jdbcType="BIGINT" property="wsId" />
    <result column="ws_name" jdbcType="VARCHAR" property="wsName" />
    <result column="node" jdbcType="VARCHAR" property="node" />
    <result column="device_temp" jdbcType="DOUBLE" property="deviceTemp" />
    <result column="device_humi" jdbcType="DOUBLE" property="deviceHumi" />
    <result column="device_llv" jdbcType="DOUBLE" property="deviceLlv" />
    <result column="device_gas" jdbcType="DOUBLE" property="deviceGas" />
    <result column="device_O2" jdbcType="DOUBLE" property="deviceO2" />
    <result column="device_smoke" jdbcType="INTEGER" property="deviceSmoke" />
    <result column="device_lighting" jdbcType="INTEGER" property="deviceLighting" />
    <result column="device_waterpump" jdbcType="INTEGER" property="deviceWaterpump" />
    <result column="device_fan" jdbcType="INTEGER" property="deviceFan" />
    <result column="device_infra" jdbcType="INTEGER" property="deviceInfra" />
    <result column="device_guard" jdbcType="INTEGER" property="deviceGuard" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    ws_id, ws_name, node, device_temp, device_humi, device_llv, device_gas, device_O2, 
    device_smoke, device_lighting, device_waterpump, device_fan, device_infra, device_guard, 
    create_time
  </sql>

  <select id="selectByAvg" resultType="com.hainu.system.entity.DeviceLog">
    SELECT
    ws_id, ws_name,node, AVG(device_temp) as device_temp, AVG(device_humi) as device_humi,
    AVG(device_llv) as device_llv, AVG(device_gas) as device_gas, AVG(device_O2) as device_O2,
    AVG(device_smoke) as device_smoke, AVG(device_lighting) as device_lighting, AVG(device_waterpump) as device_waterpump,
    AVG(device_fan) as device_fan, AVG(device_infra) as device_infra, AVG(device_guard) as device_guard,
    DATE_FORMAT(create_time,'%Y-%m-%d') AS create_time
    FROM device_log
    <where>
      <if test="wsName != null">
       ws_name=#{wsName} and
      </if>
      <if test="node != null">
        node=#{node} and
      </if>
      create_time between #{minDate} and #{maxDate}
    </where>
    GROUP BY DATE_FORMAT(create_time,'%Y-%m-%d') , ws_name ,node
  </select>
</mapper>