<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hainu.system.dao.DeviceQueryMapper">
    <resultMap id="BaseResultMap" type="com.hainu.system.entity.DeviceQuery">
        <!--@mbg.generated-->
        <!--@Table testshardingjdbc.device_query-->
        <id column="query_id" jdbcType="BIGINT" property="queryId"/>
        <result column="ws_name" jdbcType="VARCHAR" property="wsName"/>
        <result column="node" jdbcType="VARCHAR" property="node"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="code_value" jdbcType="DOUBLE" property="codeValue"/>
        <result column="connect_time" jdbcType="TIMESTAMP" property="connectTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        query_id, ws_name, node, code, code_value, connect_time
    </sql>

    <select id="getDeviceQueryInfo" resultMap="BaseResultMap">
        SELECT d2.query_id, d2.ws_name,d2.node, d1.`code`,d1.code_str, d2.code_value,d2.connect_time
        FROM device_info as d1
        INNER JOIN device_query as d2
        on d1.node = d2.node and d1.code = d2.code
        <if test="wsName != null">
            <where>
                ws_name=#{wsName}
            </where>
        </if>
    </select>
</mapper>